<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-whitebg container approved">
    <p>Your application for an<br />
        MBNA Platinum Plus MasterCard<br />
        has been approved!</p>
</div>

<div class="ref-num container">
    Reference Number: <strong>NN1234567</strong>
</div>

<div class="content-whitebg container">
    <h2>Your Approved Card Information</h2>

    <img src="images/prototype_card_noname.png" width="170" class="center-block" />

    <h2>What's Next?</h2>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">You will receive your card in the mail in 3 to 7 business days.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">Proin facilisis, quam ut tempor ornare, elit erat ultricies erat, et vehicula tortor augue imperdiet augue.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">Sed quis ex pellentesque, pellentesque lorem condimentum, dictum diam.</span>
        </div>
    </div>

    <a href="http://mbna.ca/" class="btn btn-lg btn-block btn-blue">Back to MBNA</a>
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>