<div class="container">
    <h3>Cost of Borrowing Disclosures</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim et ante accumsan cursus. Cras semper arcu
        augue, eu vulputate dolor congue non. Quisque sollicitudin ultricies justo, ac mattis sapien elementum sit amet.
        Sed quis ex pellentesque, pellentesque lorem condimentum, dictum diam. Proin facilisis, quam ut tempor ornare,
        elit erat ultricies erat, et vehicula tortor augue imperdiet augue. Curabitur iaculis massa at erat convallis,
        non euismod nisl placerat. Integer a molestie nisl.</p>

    <p>In sed lacinia sapien, id dictum lorem. Phasellus in mi risus. Etiam vulputate commodo dui sed posuere. Etiam
        tincidunt sapien rutrum dolor consectetur consequat. Nulla sed ligula sollicitudin, faucibus erat ac, dictum purus.
        Morbi vel orci vel metus iaculis ullamcorper. Nam tortor turpis, pretium nec efficitur vel, pretium ut libero.
        Phasellus in est eros. In sed imperdiet mauris, eu malesuada lorem.</p>

    <p>Praesent tempus rutrum diam ac pharetra. Aliquam dictum sem lacus, a rhoncus orci placerat at. Duis tincidunt vel
        ex non viverra. Vestibulum pellentesque scelerisque ornare. Quisque suscipit sit amet mi sed dictum. Suspendisse
        potenti. Phasellus consequat, diam ut pretium accumsan, sapien mi placerat tellus, id faucibus dui leo ultricies
        est.</p>

    <p>Vivamus euismod elit eu facilisis lobortis. Suspendisse euismod, nibh at rutrum euismod, erat dolor rutrum nisi, at
        rhoncus neque sem non metus. In hac habitasse platea dictumst. Fusce non mollis metus. Maecenas tempus consequat
        quam at ullamcorper. Sed non erat id elit aliquam lobortis. Fusce facilisis, dolor sed tincidunt aliquam, lacus sem
        pharetra nunc, et feugiat lacus quam quis risus. Morbi hendrerit placerat odio eu viverra. Suspendisse semper
        rhoncus urna, vitae lacinia nibh auctor eu. Duis porttitor sapien in pulvinar imperdiet.</p>

    <p>Pellentesque venenatis venenatis ipsum, eu scelerisque diam tempor vel. Sed ut orci lacus. Nam ante arcu, viverra in
        rhoncus quis, vehicula ac sapien. Etiam sed congue lacus. Proin tempus, ex scelerisque tincidunt scelerisque, nulla
        ex cursus magna, vestibulum mattis neque lorem non velit. Ut ipsum nisl, fermentum quis mattis vitae, hendrerit a
        metus. Nullam mollis enim eleifend venenatis laoreet.</p>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom nav-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="/#/start" class="btn btn-block btn-lg btn-light">Cancel</a>
            </div>
            <div class="col-xs-6">
                <a href="/#/personal" class="btn btn-block btn-lg btn-dark">Continue</a>
            </div>
        </div>
    </div>
</nav>