<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-whitebg container">
    <h2>Tell us about yourself</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim et ante accumsan cursus.</p>
</div>

<div class="section-complete section-last container">
    Personal Information <a href="/#/personal" class="link-edit">Edit</a>
    <img src="images/prototype_checkbox_checked.png" width="28" class="pull-right" />
</div>

<div class="content-whitebg container">
    <h3>Contact information</h3>
    <form>
        <div class="form-group">
            <label for="address1">Home Address</label>
            <input type="text" class="form-control" id="address1" ng-model="data.address1" placeholder="Enter your home address" />
        </div>
        <div class="form-group">
            <label for="address2">Home Address 2 (optional)</label>
            <input type="text" class="form-control" id="address2" ng-model="data.address2" placeholder="Optional" />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" ng-model="data.city" placeholder="Enter your city" />
        </div>
        <div class="form-group">
            <label for="province">Province</label>
            <select class="form-control" id="province" ng-model="data.province">
                <option value="0">Select your province</option>
                <option value="AB">Alberta</option>
                <option value="BC">British Columbia</option>
                <option value="MB">Manitoba</option>
                <option value="NB">New Brunswick</option>
                <option value="NL">Newfoundland and Labrador</option>
                <option value="NT">Northwest Territories</option>
                <option value="NS">Nova Scotia</option>
                <option value="NU">Nunavut</option>
                <option value="ON">Ontario</option>
                <option value="PE">Prince Edward Island</option>
                <option value="QC">Quebec</option>
                <option value="SK">Saskatchewan</option>
                <option value="YT">Yukon</option>
            </select>
        </div>
        <div class="form-group">
            <label for="postalCode">Postal Code</label>
            <input type="text" class="form-control" id="postalCode" ng-model="data.postalCode" placeholder="Enter your postal code" />
        </div>
        <div class="form-group">
            <label for="homePhone">Home Phone Number</label>
            <input type="tel" class="form-control" id="homePhone" ng-model="data.homePhone" placeholder="xxx-xxx-xxxx" />
        </div>
        <div class="form-group">
            <label for="mobilePhone">Mobile Phone Number</label>
            <input type="tel" class="form-control" id="mobilePhone" ng-model="data.mobilePhone" placeholder="xxx-xxx-xxxx" />
        </div>
        <div class="form-group">
            <label for="email">Email Address (optional)</label>
            <input type="tel" class="form-control" id="email" ng-model="data.email" placeholder="Optional" />
        </div>
    </form>
    <a href="/#/employment" class="btn btn-lg btn-block btn-blue" ng-click="data.step=2">Next</a>
</div>

<div class="section-incomplete container">
    Employment Information
    <img src="images/prototype_checkbox.png" width="28" class="pull-right" />
</div>

<div class="section-incomplete section-last container">
    Card Features
    <img src="images/prototype_checkbox.png" width="28" class="pull-right" />
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>