<div class="container">
    <h3>CreditWise Coverage<sup>1</sup></h3>

    <p>CreditWise Coverage<sup>1</sup> helps protect your good credit rating in the event of unexpected job loss or
    disability and can relieve the burden your family will face in the event of your death. CreditWise offers
    protection in the event of:</p>

    <ul>
        <li>Involuntary unemployment</li>
        <li>Loss of self employment</li>
        <li>Disability due to illness or injury</li>
        <li>Critical illness</li>
        <li> Accidental death</li>
        <li>Accidental dismemberment</li>
    </ul>

    <h4>Cost</h4>
    <p>The coverage is affordable at 99 cents (plus applicable taxes) per $100 of the average daily balance, cycle
        ending balance or balance subject to finance charges, whichever is higher.</p>

    <p><sup>1</sup>Insures only the primary cardholder. Must be at least 18 years old. After age 70, only accidental
        death and accidental dismemberment benefits continue.</p>

    <hr />

    <h4>CreditWise Agreement</h4>

    <p><strong>DISCLOSURE STATEMENT AND OTHER IMPORTANT INFORMATION ABOUT THE
    OPTIONAL MBNA ® CREDITWISE ® INSURANCE PLAN</strong></p>

    <p><strong>ENROLLMENT:</strong> You are eligible for enrollment in the optional MBNA CreditWise plan if you are at
    least 18 years of age and a Canadian resident. Only one cardholder per account is eligible to enroll and
    will be insured for benefits. Your coverage begins on the date your application is approved and your
    account is opened. Your certificate(s), which indicate(s) your effective date of coverage, will explain
    all benefits and terms of coverage, including exclusions and limitations, and will be mailed to you
    upon enrollment. In the meantime, if you would like to retain this important information about the
    optional MBNA CreditWise plan, please print prior to completing your application. You have the option
    to cancel the MBNA CreditWise plan at any time. If you cancel this coverage within the first 30 days
    of receipt of the certificate, any premiums charged to your account will be refunded. The maximum
    benefit will equal the insured indebtedness (excluding any past due amount or amounts over your credit
    limit) up to $30,000. Any monthly benefit will equal the total Minimum Payment due on your account
    from your date of loss (a maximum of $500 for initial monthly benefit for loss of self­employment). The
    insurance coverage for this benefit may be less than: (i) your total indebtedness; and (ii) your total
    Minimum Payment due on your account. If you have any questions regarding this insurance or wish
    to cancel this coverage, please call Assurant Solutions at 1­800­340­4717.</p>

    <p><strong>COST:</strong> $0.99 per $100 per month of the greater of your insured cycle­ending balance, average daily
    balance or balance subject to interest charge, plus applicable taxes, to a maximum of $20,000. The cost
    for coverage will be charged to your account.</p>

    <p><strong>Example:</strong> An account with a $1,000 cycle­ending balance, an $800 average daily balance and an $800
    balance subject to interest charges would incur a cost for coverage of $1,000 x $0.99 per $100 = $9.90
    plus applicable taxes.</p>

    <h4>BENEFITS AND TERMS</h4>

    <p><strong>Involuntary Unemployment/Disability:</strong> Payments will be made for up to 24 full months, or until you
    return to work, or until you receive the maximum benefit, whichever comes first. Benefits begin after the
    30th consecutive day of unemployment or disability and are retroactive to the first day of loss. For
    involuntary unemployment coverage, you must be gainfully employed at least 30 hours a week for an
    employer other than yourself for a period of 90 consecutive days prior to the date of loss.</p>

    <p><strong>Exclusions to involuntary unemployment coverage include:</strong> disability caused by accident, sickness,
    disease, pregnancy or childbirth; voluntary resignation; retirement; voluntary forfeiture of salary, wages
    or income; or termination as a result of willful misconduct or criminal misconduct.</p>

    <p><strong>Exclusions to disability coverage include:</strong> intentionally self­inflicted injury, normal pregnancy, preexisting
    condition begins within the first 6 months of coverage that required treatment during the 6
    months immediately preceding the effective date of your coverage.</p>

    <p><strong>Loss of Self­Employment:</strong> Payments will be made for up to 6 full months (maximum monthly payment
    $500). To be eligible, you must be self­employed and your business must be incorporated for a period of
    24 consecutive months prior to your date of loss and must be forced into creditor­induced bankruptcy
    evidenced by court documents. You must remain unemployed from gainful employment (working for an
    employer or being self­employed at least 30 hours per week) for more than 30 consecutive days.</p>

    <p><strong>Exclusions to self­employment coverage include:</strong> voluntary forfeiture of salary, wages or income;
    closure of business due to willful misconduct or criminal misconduct; or bankruptcy within the first 12
    months of the effective date of your coverage.</p>

    <p><strong>Accidental Death Insurance/Accidental Dismemberment/Critical Illness:</strong> For accidental death, the
    benefit will be made in the amount of your insured indebtedness at the time of death. For accidental
    dismemberment benefit, the payment will be made in the amount of the insured indebtedness at the
    time of the accident for the total and irrevocable loss of a hand at or above the wrist, a foot at or above
    the ankle, or the sight in one eye. For the critical illness benefit, the payment will be made in the
    amount of the insured indebtedness at the time of diagnosis for heart attack, stroke, cancer, coma,
    coronary artery disease (bypass surgery only), major organ transplant, multiple sclerosis, muscular
    dystrophy, paralysis, renal failure, Alzheimer or total blindness.</p>

    <p><strong>Exclusions to accidental death coverage include:</strong> suicide or intentionally self­inflicted injury, while
    sane or insane; war or act of war, whether declared or not; using or taking any narcotic, barbiturate or any
    prescription drug unless used or taken as prescribed by a physician, or any over­the­counter drug unless
    used as directed by the manufacturer; accident occurring while you are intoxicated; accident occurring
    while riding in an aircraft or device for aerial navigation, except as a passenger, for transportation only
    (not as a pilot or crew member); committing or attempting to commit an assault or other crime; sickness
    or disease, bodily or mental infirmity, or medical or surgical treatment of these; bacterial infection; loss
    due to a moving vehicle engaged in a contest of speed; normal pregnancy, childbirth or elective abortion;
    participation in a riot; or accident occurring while riding in an aircraft owned, operated or leased by or on
    behalf of you or your employer.</p>

    <p><strong>Exclusions to critical illness coverage include:</strong> a disease or condition first diagnosed within 60 days; a
    disease or condition that was diagnosed prior to the effective date and have not completed a period of
    180 consecutive days free of all symptoms, medical treatment/services, including taking drugs/medicine
    for such disease or condition; if the disease or condition does not meet the definitions as stated in the
    Certificate of Insurance; or non­invasive cancer in­situ, Karposi sarcoma, Stage 1 Hodgkin Disease, any
    skin cancer other than malignant melanomas, and localized non­invasive tumors showing only malignant
    changes.</p>

    <p><strong>Exclusions to accidental dismemberment coverage include:</strong> intentionally self­inflicted injury; war or
    act of war, whether declared or not; accident while riding in any aircraft or device for aerial navigation
    except as a passenger, for transportation only (not as a pilot or crew member); commission or attempted
    commission of an assault or other crime; sickness or disease; bodily or mental infirmity; or medical or
    surgical treatment of these; bacterial infection; involvement in a contest of speed; accident occurring
    while you are intoxicated.</p>

    <h4>General Provisions:</h4>

    <p>Payment of any benefit will not be paid which exceeds the lesser of the amount owing under your
    account at the date of loss and the maximum amount of insurance indicated in the Certificate of
    Insurance.</p>

    <p>If you have misstated your age and your correct age would have made you ineligible for the coverage, no
    amount will be paid and the premiums paid for any period of ineligibility will be refunded in full.
    Complete details on all benefit terms and coverages, including exclusions and limitations, are
    outlined in the Certificate of Insurance you receive in the mail after enrollment.</p>

    <p><strong>Termination/Cancellation/Modification of Coverage:</strong> All coverage automatically stops on your
    account after: (1) 30 days notice is mailed to you that the Group Master Policies have been terminated; or
    (2) you notify American Bankers Life Assurance Company of Florida and/or American Bankers
    Insurance Company of Florida, or us, that you want to stop coverage. Critical illness, involuntary
    unemployment, loss of self­employment and disability insurance coverage automatically stops when you
    reach the age of 70 years, while accidental death and accidental dismemberment insurance coverages will
    continue beyond the age of 70.</p>

    <p>Your coverage will continue uninterrupted as long as your MBNA MasterCard credit card account is in
    good standing and premium payments continue. Should your account go more than 90 days past due, no
    benefits shall be payable and no premiums will be charged for coverage until the next billing cycle
    following such time as your account is no longer 90 days past due.</p>

    <p><strong>Underwriters:</strong> The optional MBNA CreditWise plan is underwritten by American Bankers Life
    Assurance Company of Florida and American Bankers Insurance Company of Florida and Assurant
    Services Canada Inc. and their subsidiaries and affiliates carry on business in Canada under the name of
    Assurant Solutions under policy forms WFR1 (9/05) R and LUZ (9/05) R. You may contact Assurant
    Solutions regarding your coverage or to file a claim at 1­800­340­4717, and a claim form will be sent
    to you. No benefit will be paid without proof of loss, which must be provided within 90 days of the date
    of loss or diagnosis. You are contracting for coverage with American Bankers and not with us. We have
    a financial interest in the sale of this insurance.</p>

    <p><strong>Privacy:</strong> The personal information you have given to Assurant Solutions in this application will be used
    by them to establish and serve you as their customer. Your personal information may be processed and
    stored in the United States and may be subject to access by U.S. authorities under applicable laws. You
    may call Assurant Solutions with any questions relating to the use of your personal information at 1­888­
    778­8023. Rev. 08/12</p>

    <p>By initialing this box, you expressly consent to your enrollment in the optional MBNA CreditWise
    plan, confirm that you have read, understand and accept the disclosure statement, terms, conditions,
    costs, benefits, exclusions and the Distribution Guide (for Quebec residents) of the optional MBNA
    CreditWise plan as outlined above, and understand that credit insurance is voluntary and not a condition
    of credit.</p>
</div>



<div class="container pin-buttons">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Enter initials here to accept this coverage:
                <input type="text" ng-model="data.balanceTransfer" size="3" />
            </div>
        </div>
    </div>
    <a href="/#/features" class="pin-button pin-button-half pin-button-secondary">No</a><a href="/#/features" class="pin-button pin-button-half pin-button-primary">Yes, add this</a>
</div>

