Creditwise



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Enter initials here to accept this coverage:
                <input type="text" ng-model="data.balanceTransfer" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a href="/#/features">No</a>
            </div>
            <div class="col-xs-6">
                <a href="/#/features">Yes, add this</a>
            </div>
        </div>
    </div>
</nav>
