<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-whitebg container">
    <h2>Tell us about yourself</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim et ante accumsan cursus.</p>
</div>

<div class="section-complete container">
    Personal Information <a href="/#/personal" class="link-edit">Edit</a>
    <img src="images/prototype_checkbox_checked.png" width="28" class="pull-right" />
</div>

<div class="section-complete section-last container">
    Contact Information <a href="/#/contact" class="link-edit">Edit</a>
    <img src="images/prototype_checkbox_checked.png" width="28" class="pull-right" />
</div>

<div class="content-whitebg container">
    <h3>Employment information</h3>
    <form>
        <div class="form-group">
            <label for="employmentStatus">Employment Status</label>
            <select class="form-control" id="employmentStatus" ng-model="data.employmentStatus">
                <option value="0" selected="selected">Select your employment status</option>
                <option value="1">Employed</option>
                <option value="2">Self Employed</option>
                <option value="3">Student</option>
                <option value="4">Homemaker</option>
                <option value="4">Permanently Disabled</option>
                <option value="4">Retired</option>
                <option value="4">Unemployed</option>
            </select>
        </div>
    </form>
</div>

<div ng-if="data.employmentStatus == '1'" class="content-whitebg container">
    <form>
        <div class="form-group">
            <label for="employerName">Employer Name</label>
            <input type="text" class="form-control" id="employerName" ng-model="data.employerName" placeholder="Enter your employer name" />
        </div>
        <div class="form-group">
            <label for="employedYears">Years of Employment</label>
            <input type="number" class="form-control" id="employedYears" ng-model="data.employedYears" placeholder="Enter your years of employment" />
        </div>
        <div class="form-group">
            <label for="workStreet">Street Address</label>
            <input type="number" class="form-control" id="workStreet" ng-model="data.workStreet" placeholder="Enter your work street address" />
        </div>
        <div class="form-group">
            <label for="workCity">City</label>
            <input type="number" class="form-control" id="workCity" ng-model="data.workCity" placeholder="Enter your work city" />
        </div>
        <div class="form-group">
            <label for="workProvince">Province</label>
            <select class="form-control" id="workProvince" ng-model="data.workProvince">
                <option selected="selected">Select your province</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="workPostalCode">Postal Code</label>
            <input type="text" class="form-control" id="workPostalCode" ng-model="data.workPostalCode" placeholder="Enter your work postal code" />
        </div>
        <div class="form-group">
            <label for="occupation">Your Occupation</label>
            <select class="form-control" id="occupation" ng-model="data.occupation">
                <option selected="selected">Select occupation type</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="describePosition">Describe your Position</label>
            <textarea class="form-control" rows="2" id="describePosition" ng-model="data.describePosition" placeholder="Enter details here"></textarea>
        </div>
        <div class="form-group">
            <label for="workPhone">Your Work Phone Number</label>
            <input type="tel" class="form-control" id="workPhone" ng-model="data.workPhone" placeholder="xxx-xxx-xxxx" />
        </div>
        <div class="form-group">
            <label for="income">Your Income</label>
            <select class="form-control" id="income" ng-model="data.income">
                <option selected="selected">Select your annual income</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="otherIncome">Other Income</label>
            <select class="form-control" id="otherIncome" ng-model="data.otherIncome">
                <option selected="selected">Select other annual income</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="otherSource">Source of Other Income</label>
            <select class="form-control" id="otherSource" ng-model="data.otherSource">
                <option selected="selected">Select source of other income</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>
    <a href="/#/features" class="btn btn-lg btn-block btn-blue">Next</a>
</div>

<div ng-if="data.employmentStatus == '2'" class="content-whitebg container">
    <!-- Self Employed -->
    <form>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" id="companyName" ng-model="data.companyName" placeholder="Enter your company name" />
        </div>
        <div class="form-group">
            <label for="yearsBusiness">Years in Business</label>
            <input type="number" class="form-control" id="yearsBusiness" ng-model="data.yearsBusiness" placeholder="Enter your years in business" />
        </div>
        <div class="form-group">
            <label for="businessNature">Nature of Business</label>
            <select class="form-control" id="businessNature" ng-model="data.businessNature">
                <option selected="selected">Select the nature of your business</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="describePosition2">Describe your Position</label>
            <textarea class="form-control" rows="2" id="describePosition2" ng-model="data.describePosition" placeholder="Enter details here"></textarea>
        </div>
        <div class="form-group">
            <label for="workPhone2">Your Work Phone Number</label>
            <input type="tel" class="form-control" id="workPhone2" ng-model="data.workPhone" placeholder="xxx-xxx-xxxx" />
        </div>
        <div class="form-group">
            <label for="workStreet2">Street Address</label>
            <input type="number" class="form-control" id="workStreet2" ng-model="data.workStreet" placeholder="Enter your work street address" />
        </div>
        <div class="form-group">
            <label for="workCity2">City</label>
            <input type="number" class="form-control" id="workCity2" ng-model="data.workCity" placeholder="Enter your work city" />
        </div>
        <div class="form-group">
            <label for="workProvince2">Province</label>
            <select class="form-control" id="workProvince2" ng-model="data.workProvince">
                <option selected="selected">Select your province</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="workPostalCode2">Postal Code</label>
            <input type="text" class="form-control" id="workPostalCode2" ng-model="data.workPostalCode" placeholder="Enter your work postal code" />
        </div>
        <div class="form-group">
            <label for="income2">Your Income</label>
            <input type="text" class="form-control" id="income2" ng-model="data.income" placeholder="Enter your income" />
        </div>
        <div class="form-group">
            <label for="incomeFreq2">Income Frequency</label>
            <select class="form-control" id="incomeFreq2" ng-model="data.incomeFreq">
                <option value="0" selected="selected">Select your income frequency</option>
                <option value="1">Annual</option>
                <option value="12">Monthly</option>
                <option value="24">Bi-Monthly</option>
                <option value="26">Every 2 Weeks</option>
                <option value="52">Weekly</option>
            </select>
        </div>
        <div class="form-group">
            <label for="otherIncome2">Other Income</label>
            <input type="text" class="form-control" id="otherIncome2" ng-model="data.otherIncome" placeholder="Enter your income" />
        </div>
        <div class="form-group">
            <label for="otherIncomeFreq2">Other Income Frequency</label>
            <select class="form-control" id="otherIncomeFreq2" ng-model="data.otherIncomeFreq">
                <option value="0" selected="selected">Select your income frequency</option>
                <option value="1">Annual</option>
                <option value="12">Monthly</option>
                <option value="24">Bi-Monthly</option>
                <option value="26">Every 2 Weeks</option>
                <option value="52">Weekly</option>
            </select>
        </div>
        <div class="form-group">
            <label for="otherSource2">Source of Other Income</label>
            <select class="form-control" id="otherSource2" ng-model="data.otherSource">
                <option selected="selected">Select source of other income</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>

    <p>Total annual household income: ${{(data.income * data.incomeFreq) + (data.otherIncome * data.otherIncomeFreq)}}</p>
    <a href="/#/features" class="btn btn-lg btn-block btn-blue">Next</a>
</div>

<div ng-if="data.employmentStatus == '3'" class="content-whitebg container">
    <!-- Student -->
    <div class="form-group">
        <label for="schoolName">School Name</label>
        <input type="text" class="form-control" id="schoolName" ng-model="data.schoolName" placeholder="Enter your school name" />
    </div>
    <div class="form-group">
        <label for="studentStatus">Student Status</label>
        <select class="form-control" id="studentStatus" ng-model="data.studentStatus">
            <option selected="selected">Select your student status</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="studentNumber">Student ID Number</label>
        <input type="text" class="form-control" id="studentNumber" ng-model="data.studentNumber" placeholder="Enter your student number" />
    </div>
    <div class="form-group">
        <label for="major">Major</label>
        <input type="text" class="form-control" id="major" ng-model="data.major" placeholder="Enter your major" />
    </div>
    <div class="form-group">
        <label for="graduationYear">In what year do you expect to graduate?</label>
        <select class="form-control" id="graduationYear" ng-model="data.graduationYear">
            <option selected="selected">Select your graduation year</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="alternatePhone">Alternate Phone Number</label>
        <input type="tel" class="form-control" id="alternatePhone" ng-model="data.alternatePhone" placeholder="xxx-xxx-xxxx" />
    </div>
    <div class="form-group">
        <label>Is your home address different from your permanent address></label>
        <p>(ex; home address when you're in school, permanent address when you're out of school)</p>
        <div class="radio">
            <label>
                <input type="radio" name="diffaddr" id="diffaddrRadios1" ng-model="data.diffaddr" value="yes" />
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="diffaddr" id="diffaddrRadios2" ng-model="data.diffaddr" value="no" />
                No
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="companyName3">Company Name</label>
        <input type="text" class="form-control" id="companyName3" ng-model="data.companyName" placeholder="Enter your company name" />
    </div>
    <div class="form-group">
        <label for="describePosition3">Describe your Position</label>
        <textarea class="form-control" rows="2" id="describePosition3" ng-model="data.describePosition" placeholder="Enter details here"></textarea>
    </div>
    <div class="form-group">
        <label for="income3">Your Income</label>
        <input type="number" class="form-control" id="income3" ng-model="data.income" placeholder="Enter your income" />
    </div>
    <div class="form-group">
        <label for="incomeFreq3">Income Frequency</label>
        <select class="form-control" id="incomeFreq3" ng-model="data.incomeFreq" convert-to-number>
            <option value="0" selected>Select your income frequency</option>
            <option value="1">Annual</option>
            <option value="12">Monthly</option>
            <option value="24">Bi-Monthly</option>
            <option value="26">Every 2 Weeks</option>
            <option value="52">Weekly</option>
        </select>
    </div>
    <div class="form-group">
        <label for="otherIncome3">Other Income</label>
        <input type="number" class="form-control" id="otherIncome3" ng-model="data.otherIncome" placeholder="Enter your income" />
    </div>
    <div class="form-group">
        <label for="otherIncomeFreq3">Other Income Frequency</label>
        <select class="form-control" id="otherIncomeFreq3" ng-model="data.otherIncomeFreq" convert-to-number>
            <option value="0" selected>Select your income frequency</option>
            <option value="1">Annual</option>
            <option value="12">Monthly</option>
            <option value="24">Bi-Monthly</option>
            <option value="26">Every 2 Weeks</option>
            <option value="52">Weekly</option>
        </select>
    </div>
    <div class="form-group">
        <label for="otherSource3">Source of Other Income</label>
        <select class="form-control" id="otherSource3" ng-model="data.otherSource">
            <option selected="selected">Select source of other income</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <p>Total annual household income: ${{(data.income * data.incomeFreq) + (data.otherIncome * data.otherIncomeFreq)}}</p>

    <a href="/#/features" class="btn btn-lg btn-block btn-blue">Next</a>
</div>

<div ng-if="data.employmentStatus == '4'" class="content-whitebg container">
    <!-- Homemaker/Permanently Disabled/Retired/Unemployed -->
    <form>
        <div class="form-group">
            <label for="income4">Your Income</label>
            <input type="text" class="form-control" id="income4" ng-model="data.income" placeholder="Enter your income" />
        </div>
        <div class="form-group">
            <label for="incomeFreq4">Income Frequency</label>
            <select class="form-control" id="incomeFreq4" ng-model="data.incomeFreq">
                <option value="0" selected="selected">Select your income frequency</option>
                <option value="1">Annual</option>
                <option value="12">Monthly</option>
                <option value="24">Bi-Monthly</option>
                <option value="26">Every 2 Weeks</option>
                <option value="52">Weekly</option>
            </select>
        </div>
        <div class="form-group">
            <label for="otherIncome4">Other Income</label>
            <input type="text" class="form-control" id="otherIncome4" ng-model="data.otherIncome" placeholder="Enter your income" />
        </div>
        <div class="form-group">
            <label for="otherIncomeFreq4">Other Income Frequency</label>
            <select class="form-control" id="otherIncomeFreq4" ng-model="data.otherIncomeFreq">
                <option value="0" selected="selected">Select your income frequency</option>
                <option value="1">Annual</option>
                <option value="12">Monthly</option>
                <option value="24">Bi-Monthly</option>
                <option value="26">Every 2 Weeks</option>
                <option value="52">Weekly</option>
            </select>
        </div>
        <div class="form-group">
            <label for="personalSource">Source of Personal Income</label>
            <select class="form-control" id="personalSource" ng-model="data.personalSource">
                <option selected="selected">Select source of personal income</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>

    <p>Total annual household income: ${{(data.income * data.incomeFreq) + (data.otherIncome * data.otherIncomeFreq)}}</p>
    <a href="/#/features" class="btn btn-lg btn-block btn-blue">Next</a>
</div>

<div class="section-incomplete section-last container">
    Card Features
    <img src="images/prototype_checkbox.png" width="28" class="pull-right" />
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>