<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-graybg">
    <h3>Tell us about yourself</h3>

    <p>Lorem</p>
</div>

<div class="section-complete">
    Personal Information
</div>

<div class="section-complete">
    Contact Information
</div>

<div class="section-complete">
    Employment Information
</div>

<div class="content-whitebg">
    <h3>Card Features</h3>

    <a href="/#/balance" class="btn">Balance transfer ></a>
    <a href="/#/creditwise" class="btn">MBNA Creditwise Plan ></a>

    <a href="/#/review" class="btn">Review Application</a>
</div>