<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-whitebg container">
    <h2>Tell us about yourself</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim et ante accumsan cursus.</p>
</div>

<div class="section-complete container-fluid">
    Personal Information <a href="/#/personal" class="link-edit">Edit</a>
    <img src="images/prototype_checkbox_checked.png" width="28" class="pull-right" />
</div>

<div class="section-complete container-fluid">
    Contact Information <a href="/#/contact" class="link-edit">Edit</a>
    <img src="images/prototype_checkbox_checked.png" width="28" class="pull-right" />
</div>

<div class="section-complete section-last container-fluid">
    Employment Information <a href="/#/employment" class="link-edit">Edit</a>
    <img src="images/prototype_checkbox_checked.png" width="28" class="pull-right" />
</div>

<div class="content-whitebg container">
    <h3>Card Features</h3>

    <a href="/#/balance" class="btn-feature"><img src="images/prototype_balanceTransfer.png" width="15" />&nbsp;&nbsp;Balance transfer <span class="glyphicon glyphicon-chevron-right pull-right feature-chevron" aria-hidden="true"></span></a>
    <a href="/#/creditwise" class="btn-feature btn-feature-last"><img src="images/prototype_creditWise.png" width="15" />&nbsp;&nbsp;MBNA Creditwise Plan <span class="glyphicon glyphicon-chevron-right pull-right feature-chevron" aria-hidden="true"></span></a>
    <br />
    <a href="/#/review" class="btn btn-lg btn-block btn-blue" ng-click="data.step=4">Review Application</a>
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>