<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-whitebg container">
    <h2>Tell us about yourself</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim et ante accumsan cursus.</p>

    <img src="images/prototype_licenseImg.png" height="130" class="center-block pad" />

    <p class="text-center">Capture information from your driver's license</p>

    <a href="#" class="btn btn-lg btn-block btn-red"><img src="images/prototype_camera.png" width="20" /> Scan Barcode</a>
</div>

<div class="content-whitebg container">
    <h2>Personal information</h2>
    <form name="form">
        <div class="form-group" ng-class="{error: form.firstName.$invalid}">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ng-model="data.firstName" placeholder="Enter your first name" required />
        </div>
        <div class="form-group">
            <label for="middleName">Middle name</label>
            <input type="text" class="form-control" id="middleName" ng-model="data.middleName" placeholder="Optional" />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" ng-model="data.lastName" placeholder="Enter your last name" />
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" ng-model="data.dob" placeholder="Enter your date of birth" />
        </div>
        <div class="form-group">
            <label for="sin">Social Insurance Number</label>
            <input type="text" class="form-control" id="sin" ng-model="data.sin" placeholder="Optional" />
        </div>
        <div class="form-group">
            <label for="maidenName">Mother's Maiden name</label>
            <input type="number" class="form-control" id="maidenName" ng-model="data.maidenName" placeholder="Enter your mother's maiden name" />
        </div>
        <div class="form-group">
            <label>Are you a Canadian resident?</label>

            <div class="radio">
                <input type="radio" name="canres" id="optionsRadios1" ng-model="data.canres" value="option1" class="radio-yes" /><input type="radio" name="canres" id="optionsRadios2" ng-model="data.canres" value="option2" class="radio-no" />
            </div>
        </div>
        <div class="form-group">
            <label>What other credit cards do you have?</label>
            <div class="checkbox">
                <input type="checkbox" id="otherCards1" value="" ng-model="data.otherCards.mc" />
                <label for="otherCards1">MasterCard</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="otherCards2" value="" ng-model="data.otherCards.visa" />
                <label for="otherCards2">Visa</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="otherCards3" value="" ng-model="data.otherCards.amex" />
                <label for="otherCards3">American Express</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="otherCards4" value="" ng-model="data.otherCards.store" />
                <label for="otherCards4">Department Store</label>
            </div>
        </div>
    </form>
    <a href="/#/contact" class="btn btn-lg btn-block btn-blue">Next</a>
</div>

<div class="section-incomplete container">
    Contact Information
    <img src="images/prototype_checkbox.png" width="28" class="pull-right" />
</div>

<div class="section-incomplete container">
    Employment Information
    <img src="images/prototype_checkbox.png" width="28" class="pull-right" />
</div>

<div class="section-incomplete section-last container">
    Card Features
    <img src="images/prototype_checkbox.png" width="28" class="pull-right" />
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>