<div class="container">
    <div class="row progressbar-header">
        <div class="col-xs-2"><img src="images/prototype_lock.png" width="20" class="center-block" /></div>
        <div class="col-xs-10">
            You are applying for<br />
            MBNA <em>Platinum Plus</em> MasterCard
        </div>
    </div>
    <div class="row progressbar">
        <div class="barblock"></div>
        <div class="barblock"></div>
        <div class="barblock"></div>
        <div class="barblock"></div>
        <div class="barblock"></div>
        <div class="barblock barblock-last"></div>
    </div>
</div>