<div ng-include src="'views/progress.html'" class="progress-indicator"></div>

<div class="content-whitebg container">
    <h2>Review Your Application</h2>

    <p>Please take a moment to review your application. You must review and accept all terms and conditions in order to
        complete the application.</p>
</div>

<div class="content-whitebg container review-content">
    <h2>Personal Information  <a href="/#/personal">Edit</a></h2>
    <div class="row">
        <div class="col-xs-6 review-label">First Name:</div>
        <div class="col-xs-6">{{data.firstName}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Middle Name:</div>
        <div class="col-xs-6">{{data.middlename}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Last Name:</div>
        <div class="col-xs-6">{{data.lastName}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Date of Birth:</div>
        <div class="col-xs-6">{{data.dob}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">SIN:</div>
        <div class="col-xs-6">{{data.sin}}</div>
    </div>
</div>

<div class="content-whitebg container review-content">
    <h2>Contact Information  <a href="/#/contact">Edit</a></h2>
    <div class="row">
        <div class="col-xs-6 review-label">Home Address:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">City/Town:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Province:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Postal Code:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Email:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Phone Number:</div>
        <div class="col-xs-6"></div>
    </div>
</div>

<div class="content-whitebg container review-content">
    <h2>Employment Information  <a href="/#/employment">Edit</a></h2>
    <div class="row">
        <div class="col-xs-6 review-label">Employer Name:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Years Employed:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Employer Address:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">City/Town:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Province:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Postal Code:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Phone Number:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Your Income:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Other Income:</div>
        <div class="col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 review-label">Household Income:</div>
        <div class="col-xs-6"></div>
    </div>
</div>

<div class="content-whitebg container review-content">
    <h2>Card Features  <a href="/#/features">Edit</a></h2>
</div>

<!--
<div class="content-whitebg container review-content">
    <p>I have read and accept the <a href="/#/tacagree.html">Terms &amp; Conditions</a>.</p>
</div>
-->

<div class="container">
    <a href="/#/tacagree" class="btn btn-lg btn-block btn-blue">Complete Application</a>
</div>

<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>