<div class="content-hero">
    <div class="row">
        <div class="col-sm-12">
            <h2>MBNA Platinum Plus Mastercard</h2>
            <img src="" />
            <ul>
                <li>o% promotional annual interest rate (AIR) on balance transfers for the first 12 months</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            No<br />Annual Fee
        </div>
        <div class="col-xs-4">
            19.99%<br />Interest Rate
        </div>
        <div class="col-xs-4">
            24.99%<br />
            Cash Advances
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Plus 21.99% on Balance Transfers &amp; Access Cheques
        </div>
    </div>
</div>

<div class="content-whitebg">
    <h2>Eligibility Criteria</h2>
    <ul>
        <li>You are a Canadian resident and have a Canadian credit file.</li>
        <li>You are the age of majority in province or territory of residence.</li>
        <li>In the past 7 years you have not filed for bankruptcy and do not have any seriously past due payments.</li>
    </ul>
</div>

<div class="content-graybg">
    By checking the box and continuing...
</div>

<div class="content-whitebg">
    <h2>Apply Now</h2>
    <p>The quick and secure application will only take 5-10 minutes to complete.</p>
    <a href="/#/cob" class="btn">Start My Application</a>
</div>