<div class="content-hero container">
    <div class="row">
        <div class="col-sm-12">
            <h1>MBNA Platinum Plus MasterCard</h1>
            <img src="images/prototype_card.png" width="170" class="center-block pad" />
            <ul>
                <li>0% promotional annual interest rate (AIR) on balance transfers for the first 12 months<sup><a href="/#/tac">1</a></sup></li>
            </ul>
        </div>
    </div>
    <div class="row card-feature">
        <div class="col-xs-4 card-feature-item">
            <span class="card-feature-lead">No</span><br />
            <span class="card-feature-content">Annual&nbsp;Fee<sup><a href="/#/tac">2</a></sup></span>
        </div>
        <div class="col-xs-4 card-feature-item">
            <span class="card-feature-lead">19.99%</span><br />
            <span class="card-feature-content">Interest&nbsp;Rate<sup><a href="/#/tac">3</a></sup></span>
        </div>
        <div class="col-xs-4 card-feature-item">
            <span class="card-feature-lead">24.99%</span><br />
            <span class="card-feature-content">Cash&nbsp;Advances<sup><a href="/#/tac">4</a></sup></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 card-feature-add">
            Plus 21.99% on Balance Transfers &amp; Access Cheques<sup><a href="/#/tac">5</a></sup>
        </div>
    </div>
</div>

<div class="content-whitebg container">
    <h2>Eligibility Criteria</h2>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">You are a Canadian resident and have a Canadian credit file.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">You are the age of majority in province or territory of residence.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">In the past 7 years you have not filed for bankruptcy and do not have any seriously past due payments.</span>
        </div>
    </div>
</div>

<div class="content-graybg container" ng-if="data.inlineFlow">
    INLINE!
</div>

<div class="content-graybg container">
    <div class="row">
        <div class="col-xs-1">
            <form>
                <input type="checkbox" />
            </form>
        </div>
        <div class="col-xs-11 copy-small">By checking this box and continuing with this application, you consent to The
            Toronto-Dominion Bank providing to you, in electronic form on this website, this Information Box, the Terms and
            Conditions and the Privacy Terms included with this application form, all of which is also set out under
            <a href="/#/disclosures">Legal Disclosures</a>.</div>
    </div>
</div>

<div class="content-whitebg container">
    <h2>Apply Now</h2>
    <p>This quick and secure application will only take 5-10 minutes to complete.</p>
    <a href="/#/cob" class="btn-lg btn-block btn-red">Start My Application</a>
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>