<div class="content-hero container">
    <div class="row">
        <div class="col-sm-12">
            <h1>MBNA Platinum Plus MasterCard</h1>
            <img src="images/prototype_card.png" width="170" class="center-block pad" />
            <ul>
                <li>0% promotional annual interest rate (AIR) on balance transfers for the first 12 months<sup><a href="/#/tac">1</a></sup></li>
            </ul>
        </div>
    </div>
    <div class="row card-feature">
        <div class="col-xs-4 card-feature-item">
            <span class="card-feature-lead">No</span><br />
            <span class="card-feature-content">Annual&nbsp;Fee<sup><a href="/#/tac">2</a></sup></span>
        </div>
        <div class="col-xs-4 card-feature-item">
            <span class="card-feature-lead">19.99%</span><br />
            <span class="card-feature-content">Interest&nbsp;Rate<sup><a href="/#/tac">3</a></sup></span>
        </div>
        <div class="col-xs-4 card-feature-item">
            <span class="card-feature-lead">24.99%</span><br />
            <span class="card-feature-content">Cash&nbsp;Advances<sup><a href="/#/tac">4</a></sup></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 card-feature-add">
            Plus 21.99% on Balance Transfers &amp; Access Cheques<sup><a href="/#/tac">5</a></sup>
        </div>
    </div>
</div>

<div class="content-whitebg container">
    <h2>Eligibility Criteria</h2>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">You are a Canadian resident and have a Canadian credit file.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">You are the age of majority in province or territory of residence.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <span class="bullet">&#8226;</span>
        </div>
        <div class="col-xs-11">
            <span class="list-item">In the past 7 years you have not filed for bankruptcy and do not have any seriously past due payments.</span>
        </div>
    </div>
</div>

<div class="content-graybg container" ng-if="data.inlineFlow">
    <p><strong>Please read the Cost of Borrowing Disclosures</strong></p>
    <div class="inline-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim et ante accumsan cursus. Cras semper arcu
            augue, eu vulputate dolor congue non. Quisque sollicitudin ultricies justo, ac mattis sapien elementum sit amet.
            Sed quis ex pellentesque, pellentesque lorem condimentum, dictum diam. Proin facilisis, quam ut tempor ornare,
            elit erat ultricies erat, et vehicula tortor augue imperdiet augue. Curabitur iaculis massa at erat convallis,
            non euismod nisl placerat. Integer a molestie nisl.</p>

        <p>In sed lacinia sapien, id dictum lorem. Phasellus in mi risus. Etiam vulputate commodo dui sed posuere. Etiam
            tincidunt sapien rutrum dolor consectetur consequat. Nulla sed ligula sollicitudin, faucibus erat ac, dictum purus.
            Morbi vel orci vel metus iaculis ullamcorper. Nam tortor turpis, pretium nec efficitur vel, pretium ut libero.
            Phasellus in est eros. In sed imperdiet mauris, eu malesuada lorem.</p>

        <p>Praesent tempus rutrum diam ac pharetra. Aliquam dictum sem lacus, a rhoncus orci placerat at. Duis tincidunt vel
            ex non viverra. Vestibulum pellentesque scelerisque ornare. Quisque suscipit sit amet mi sed dictum. Suspendisse
            potenti. Phasellus consequat, diam ut pretium accumsan, sapien mi placerat tellus, id faucibus dui leo ultricies
            est.</p>

        <p>Vivamus euismod elit eu facilisis lobortis. Suspendisse euismod, nibh at rutrum euismod, erat dolor rutrum nisi, at
            rhoncus neque sem non metus. In hac habitasse platea dictumst. Fusce non mollis metus. Maecenas tempus consequat
            quam at ullamcorper. Sed non erat id elit aliquam lobortis. Fusce facilisis, dolor sed tincidunt aliquam, lacus sem
            pharetra nunc, et feugiat lacus quam quis risus. Morbi hendrerit placerat odio eu viverra. Suspendisse semper
            rhoncus urna, vitae lacinia nibh auctor eu. Duis porttitor sapien in pulvinar imperdiet.</p>

        <p>Pellentesque venenatis venenatis ipsum, eu scelerisque diam tempor vel. Sed ut orci lacus. Nam ante arcu, viverra in
            rhoncus quis, vehicula ac sapien. Etiam sed congue lacus. Proin tempus, ex scelerisque tincidunt scelerisque, nulla
            ex cursus magna, vestibulum mattis neque lorem non velit. Ut ipsum nisl, fermentum quis mattis vitae, hendrerit a
            metus. Nullam mollis enim eleifend venenatis laoreet.</p>

    </div>
</div>

<div class="content-graybg container">
    <div class="row">
        <div class="col-xs-1">
            <form>
                <input type="checkbox" />
            </form>
        </div>
        <div class="col-xs-11 copy-small">By checking this box and continuing with this application, you consent to The
            Toronto-Dominion Bank providing to you, in electronic form on this website, this Information Box, the Terms and
            Conditions and the Privacy Terms included with this application form, all of which is also set out under
            <a href="/#/disclosures">Legal Disclosures</a>.</div>
    </div>
</div>

<div class="content-whitebg container">
    <h2>Apply Now</h2>
    <p>This quick and secure application will only take 5-10 minutes to complete.</p>
    <a href="/#/cob" class="btn-lg btn-block btn-red" ng-if="!data.inlineFlow" ng-click="data.step=0">Start My Application</a>
    <a href="/#/personal" class="btn-lg btn-block btn-red" ng-if="data.inlineFlow" ng-click="data.step=0">Start My Application</a>
</div>


<div class="footer"> <!-- Need to create a directive to access the factory -->
    <div class="container">
        <a href="#" class="btn pull-left lang-toggle">FR</a>
        <a href="#" class="pull-right privacy">Privacy <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</div>